<configuration>
<!--  Para usar uno o varios appender's (medio donde se ve el log) - En este caso: Consola  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            La forma de como se muestran los errores-->
<!--            [%thread] -> Normalmente se trabaja con el main-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender" >
<!--        Ruta del archivo-->
        <file>logs/application.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  Definimos un logger en el nivel info (El que emite los log's)  -->
<!--    Se mostrara los log's en la consola y en el archivo-->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
